.tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
}

.normal {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;
}

.large {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--color-gray-light);
}

.red {
  color: var(--color-white);
  background-color: var(--color-red);
  font-weight: bold;
}

.gray {
  color: var(--color-white);
  background-color: var(--color-gray);
  font-weight: bold;
}

.green {
  color: var(--color-green);
  background-color: var(--color-green-light);
  font-weight: bold;
}

.primary {
  color: var(--color-primary);
  background-color: none;
  border: 1px solid var(--color-primary);
}
