html,
body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  background-color: var(--color-background);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --color-black: #3b434e;
  --color-gray: #b3c0d9;
  --color-gray-light: #ebebeb;
  --color-white: #ffffff;
  --color-primary: #7653fc;
  --color-primary-hover: #6344df;
  --color-red-light: #fc836d;
  --color-red: #de0000;
  --color-green: #1dc37e;
  --color-green-light: #c8f8e4;
  --color-background: #f5f6f8;
  --font-family: 'Noto Sans', sans-serif;
}
